@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap");

$primary-color: #141414;
$secondary-color: white;

$font-primary: "Jost", sans-serif;

body {
  margin: 0;
  padding: 0;
  background-color: $primary-color;
  font-family: $font-primary;
  color: $secondary-color;
}

header {
  display: flex;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  .header-logo {
    display: flex;
    align-items: center;

    .platform-title {
      margin-left: 8px;
      font-size: 24px;
    }
  }

  .header-buttons {
    display: flex;

    div {
      padding: 4px 12px;

      &:hover {
        cursor: pointer;
        transition: ease 0.4s;
        background-color: $secondary-color;
        color: $primary-color;
        border-radius: 4px;
      }
    }
  }
}

.top {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  .top-item {
    min-width: 225px;
    display: flex;
    margin: 0.2em;

    img {
      min-width: 225px;
    }
  }
}

.first,
.second {
  display: flex;
  // justify-content: space-around;
  flex-wrap: wrap;
  .item {
    display: flex;
    justify-content: center;
    flex: 1;
    min-width: 250px;
    img {
      min-width: 250px;
    }
    &:hover {
      transition: ease-in 0.2s;
      transform: scale(1.1);
      box-shadow: 0px 0px 10px $primary-color;
      cursor: pointer;
    }
  }
}

.section-title {
  margin-left: 16px;
}

//Mobile
@media screen and (max-width: 718px) {
  .top {
    flex-direction: column-reverse;
    align-items: center;
  }
}

//Tablet
@media screen and (max-width: 1280px) {
  #top-text {
    font-family: sans-serif;
    font-size: 20px;
    &::after {
      content: "3";
    }
  }

  .top {
    & > :nth-child(1) {
      display: none;
    }
    & > :nth-child(2) {
      display: none;
    }
  }

  .first,
  .second {
    img {
      width: 100%;
    }
  }
}

//Desktop
@media screen and (min-width: 1280px) {
  #top-text {
    font-family: sans-serif;
    font-size: 20px;
    &::after {
      content: "5";
    }
  }
}
